port: :9981

tls:
  # port: :1443
  # enabled: false
  cert_file: ./server/test-cert.pem
  key_file: ./server/test-key.pem
  acme:
    # enabled: false
    # port: :80
    host_whitelist: ["test.example.com"]
    cache_dir: "certs"

prefix: ""

secret_token: abc123
# insecure: false

handlers:
  repository: ./repository/test-handler.sh
  registry: ./registry/test-handler.sh

notification:
  slack:
    # https://api.slack.com/incoming-webhooks
    incoming_webhook_url:  # export SLACK_URL
    channel_name: "#api-test"

    bitbucket_icon_url: "http://example.com/icons/bitbucket.png"
    github_icon_url: "http://example.com/icons/bitbucket.png"
    docker_icon_url: "http://example.com/icons/docker.png"

    repository:
      exclude: not implemented
    registry:
      exclude: :3.6$

    # payload_template_repository: |
    #  hi, there! a repository seems changed.

    # payload_template_registry: |
    #  hi, there! an image seems changed.
